[Unit]
Description=Oracle REST Data Services
Requires=network.target
After=oracle-rdbms.service

[Service]
Type=simple
ExecStart=/bin/java -jar /opt/ords/ords.war
ExecStop=/bin/kill -HUP ${MAINPID}
User=oracle

[Install]
WantedBy=multi-user.target
